.container {
  width: 100%;
  display: flex;
  max-width: 1260px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 150px;
}

.content {
  margin-left: 56px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  margin-bottom: 40px;
}

.store {
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.app {
  cursor: pointer;
  margin-right: 24px;
}
